In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('new_clean_data.csv')

In [5]:
df

,Unnamed: 0,2014-01-01,2014-01-02,2014-01-03,2014-01-04,2014-01-05,2014-01-06,2014-01-07,2014-01-08,2014-01-09,...,2016-10-22,2016-10-23,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-29,2016-10-30,2016-10-31
0,0,0.000,0.000,0.00,0.000,0.000000,0.000,0.000000,0.000000,0.000000,...,7.18,8.07,8.09,9.53,5.48,8.75,9.30,7.54,9.16,6.74
1,1,2.900,5.640,6.99,3.320,3.610000,5.350,4.730000,3.680000,3.530000,...,10.95,17.95,17.83,17.31,21.44,19.09,18.56,16.25,14.20,13.66
2,2,2.900,5.640,6.99,3.320,3.610000,5.350,4.730000,3.680000,3.530000,...,12.81,15.12,17.26,14.91,19.59,20.79,17.95,19.26,14.46,11.72
3,3,2.900,5.640,6.99,3.320,3.610000,5.350,4.730000,3.680000,3.530000,...,14.21,10.22,8.47,6.11,6.10,6.73,7.52,10.89,9.86,8.72
4,4,1.505,2.875,3.62,1.795,1.910000,2.775,2.435000,2.010000,1.880000,...,2.51,2.97,2.93,0.74,0.41,0.42,1.91,0.42,0.38,0.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40251,40251,3.540,1.680,1.64,5.440,8.563333,7.450,3.646667,4.806667,6.143333,...,3.27,3.10,2.75,3.01,2.99,2.83,2.54,3.40,3.59,2.54
40252,40252,2.700,0.000,0.00,5.720,6.050000,5.810,3.070000,4.040000,5.680000,...,3.84,6.62,3.12,5.16,3.62,4.64,3.71,6.22,6.05,4.77
40253,40253,0.580,1.160,0.92,0.980,1.540000,1.380,0.890000,0.700000,1.230000,...,0.99,0.61,0.65,0.55,0.49,0.51,0.79,0.66,0.39,0.65
40254,40254,16.890,15.150,19.28,17.190,16.800000,17.480,17.860000,23.990000,12.340000,...,15.64,16.48,13.04,10.39,12.00,11.15,12.22,13.16,13.33,10.39
40255,40255,16.890,15.150,19.28,17.190,16.800000,17.480,17.860000,23.990000,12.340000,...,10.56,17.14,8.35,8.68,6.39,7.96,8.13,11.50,7.16,5.25